{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Profil{% endblock %}

{% block content %}
  <div>
    <h2>{{ user.username }}</h2>
    <p>Imię: {{ user.first_name }}</p>
    <p>Nazwisko: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Umiejetnosci: {{ wspinacz.opis_umiejetnosci }}</p>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Zaktualizuj" class="btn btn-primary">
  </form>
  </div>
{% endblock %}